# **Dataset Cleaning/Processing Steps**

Right now we only use the action, romance, and horror csv entries. Duplicates are discarded (i.e. movies with genres from more than 1 of these 3).

In [2]:
import pandas as pd
import os

In [4]:
os.getcwd()

'C:\\Users\\rebec\\Duke\\ECE684\\FilmGenreClassification\\data\\imdb_arh'

In [6]:
os.chdir('../../')  #Change directory to project root

In [8]:
genres = ['action', 'romance', 'horror']
genre_counts = {}

for genre in genres:
    df = pd.read_csv(f'data/imdb/{genre}.csv')
    genre_counts[genre] = len(df)

for g, count in genre_counts.items():
    print(f"{g}: {count} movies")

action: 52452 movies
romance: 52617 movies
horror: 36682 movies

In [9]:
import pandas as pd

genres = ['action', 'romance', 'horror']
true_counts = {}

for genre in genres:
    df = pd.read_csv(f'data/imdb/{genre}.csv')
    # some entries in csvs may have multiple genres 
    # check if the csv genre appears in the genre column
    true_count = df['genre'].apply(lambda x: genre.lower() in str(x).lower()).sum()
    true_counts[genre] = true_count

for g, count in true_counts.items():
    print(f"{g}: {count} movies actually labeled as {g}")

action: 52404 movies actually labeled as action
romance: 46520 movies actually labeled as romance
horror: 35643 movies actually labeled as horror

In [10]:
genres = ['action','horror', 'romance']

dfs = []

for genre in genres:
    df = pd.read_csv(f'data/imdb/{genre}.csv')
    print(f"\n--- {genre}.csv original ---")
    print(df.head())
    print(f"Length: {len(df)}")

    # keep only movies where the genre column contains the csv genre
    df = df[df['genre'].apply(lambda x: genre.lower() in str(x).lower())]
    df = df[['movie_id', 'movie_name', 'description', 'genre']].dropna(subset=['description'])
    df['csv_genre'] = genre

    print(f"\n--- {genre}.csv after filtering ---")
    print(df.head())
    print(f"Length: {len(df)}")

    dfs.append(df)

--- action.csv original ---
    movie_id                         movie_name  year certificate  runtime  \
0  tt9114286     Black Panther: Wakanda Forever  2022       PG-13  161 min
1  tt1630029           Avatar: The Way of Water  2022       PG-13  192 min
2  tt5884796                              Plane  2023           R  107 min
3  tt6710474  Everything Everywhere All at Once  2022           R  139 min
4  tt5433140                             Fast X  2023         NaN      NaN

                        genre  rating  \
0    Action, Adventure, Drama     6.9
1  Action, Adventure, Fantasy     7.8
2            Action, Thriller     6.5
3   Action, Adventure, Comedy     8.0
4      Action, Crime, Mystery     NaN

                                         description  \
0  The people of Wakanda fight to protect their h...
1  Jake Sully lives with his newfound family form...
2  A pilot finds himself caught in a war zone aft...
3  A middle-aged Chinese immigrant is swept up in...
4  Dom Toretto and his family are targeted by the...

                       director       director_id  \
0                  Ryan Coogler  /name/nm3363032/
1                 James Cameron  /name/nm0000116/
2          Jean-François Richet  /name/nm0724938/
3  Dan Kwan, \nDaniel Scheinert  /name/nm3453283/
4               Louis Leterrier  /name/nm0504642/

                                                star  \
0  Letitia Wright, \nLupita Nyong'o, \nDanai Guri...
1  Sam Worthington, \nZoe Saldana, \nSigourney We...
2  Gerard Butler, \nMike Colter, \nTony Goldwyn, ...
3  Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...
4  Vin Diesel, \nJordana Brewster, \nTyrese Gibso...

                                             star_id     votes  gross(in $)
0  /name/nm4004793/,/name/nm2143282/,/name/nm1775...  204835.0          NaN
1  /name/nm0941777/,/name/nm0757855/,/name/nm0000...  295119.0          NaN
2  /name/nm0124930/,/name/nm1591496/,/name/nm0001...   26220.0          NaN
3  /name/nm3215397/,/name/nm0000706/,/name/nm3513...  327858.0          NaN
4  /name/nm0004874/,/name/nm0108287/,/name/nm0879...       NaN          NaN
Length: 52452

--- action.csv after filtering ---
    movie_id                         movie_name  \
0  tt9114286     Black Panther: Wakanda Forever
1  tt1630029           Avatar: The Way of Water
2  tt5884796                              Plane
3  tt6710474  Everything Everywhere All at Once
4  tt5433140                             Fast X

                                         description  \
0  The people of Wakanda fight to protect their h...
1  Jake Sully lives with his newfound family form...
2  A pilot finds himself caught in a war zone aft...
3  A middle-aged Chinese immigrant is swept up in...
4  Dom Toretto and his family are targeted by the...

                        genre csv_genre
0    Action, Adventure, Drama    action
1  Action, Adventure, Fantasy    action
2            Action, Thriller    action
3   Action, Adventure, Comedy    action
4      Action, Crime, Mystery    action
Length: 52404

--- horror.csv original ---
     movie_id          movie_name  year certificate  runtime  \
0  tt15679400  Knock at the Cabin  2023           R  100 min
1   tt9764362            The Menu  2022           R  107 min
2   tt8760708               M3GAN  2022       PG-13  102 min
3  tt13051810         Viking Wolf  2022       TV-MA   97 min
4  tt10365998       Infinity Pool  2023           R  117 min

                       genre  rating  \
0  Horror, Mystery, Thriller     6.4
1           Horror, Thriller     7.2
2   Horror, Sci-Fi, Thriller     6.4
3           Horror, Thriller     5.1
4     Crime, Horror, Mystery     6.5

                                         description            director  \
0  While vacationing, a girl and her parents are ...  M. Night Shyamalan
1  A young couple travels to a remote island to e...          Mark Mylod
2  A robotics engineer at a toy company builds a ...    Gerard Johnstone
3  Thale (17) has just moved with her parents to ...       Stig Svendsen
4  James and Em Foster are enjoying an all-inclus...  Brandon Cronenberg

        director_id                                               star  \
0  /name/nm0796117/  Dave Bautista, \nJonathan Groff, \nRupert Grin...
1  /name/nm0617042/  Ralph Fiennes, \nAnya Taylor-Joy, \nNicholas H...
2  /name/nm2067421/  Allison Williams, \nViolet McGraw, \nRonny Chi...
3  /name/nm1457169/  Liv Mjönes, \nElli Rhiannon Müller Osborne, \n...
4  /name/nm0188722/  Alexander Skarsgård, \nMia Goth, \nCleopatra C...

                                             star_id     votes  gross(in $)
0  /name/nm1176985/,/name/nm2676147/,/name/nm0342...   17991.0          NaN
1  /name/nm0000146/,/name/nm5896355/,/name/nm0396...  232052.0          NaN
2  /name/nm4129745/,/name/nm8627157/,/name/nm5307...   62458.0          NaN
3  /name/nm1203571/,/name/nm9602953/,/name/nm7416...    3872.0          NaN
4  /name/nm0002907/,/name/nm5301405/,/name/nm1671...    6955.0          NaN
Length: 36682

--- horror.csv after filtering ---
     movie_id          movie_name  \
0  tt15679400  Knock at the Cabin
1   tt9764362            The Menu
2   tt8760708               M3GAN
3  tt13051810         Viking Wolf
4  tt10365998       Infinity Pool

                                         description  \
0  While vacationing, a girl and her parents are ...
1  A young couple travels to a remote island to e...
2  A robotics engineer at a toy company builds a ...
3  Thale (17) has just moved with her parents to ...
4  James and Em Foster are enjoying an all-inclus...

                       genre csv_genre
0  Horror, Mystery, Thriller    horror
1           Horror, Thriller    horror
2   Horror, Sci-Fi, Thriller    horror
3           Horror, Thriller    horror
4     Crime, Horror, Mystery    horror
Length: 35643

--- romance.csv original ---
     movie_id                    movie_name  year certificate  runtime  \
0   tt5635026             Peter Pan & Wendy  2023          PG  106 min
1   tt3915174  Puss in Boots: The Last Wish  2022          PG  102 min
2  tt12823454            Your Place or Mine  2023       PG-13  109 min
3   tt5971474            The Little Mermaid  2023          PG      NaN
4  tt15333984       Somebody I Used to Know  2023           R  106 min

                          genre  rating  \
0     Action, Adventure, Comedy     NaN
1  Animation, Adventure, Comedy     7.9
2               Comedy, Romance     5.6
3    Adventure, Family, Fantasy     NaN
4               Comedy, Romance     5.7

                                         description  \
0  Live-action adaptation of J.M. Barrie's classi...
1  When Puss in Boots discovers that his passion ...
2  Two long-distance best friends change each oth...
3  A young mermaid makes a deal with a sea witch,...
4  On a trip to her hometown, workaholic Ally rem...

                          director       director_id  \
0                     David Lowery  /name/nm1108007/
1  Joel Crawford, \nJanuel Mercado  /name/nm3150455/
2              Aline Brosh McKenna  /name/nm0112459/
3                     Rob Marshall  /name/nm0551128/
4                      Dave Franco  /name/nm2002649/

                                                star  \
0  Alexander Molony, \nEver Anderson, \nJoshua Pi...
1  Antonio Banderas, \nSalma Hayek, \nHarvey Guil...
2  Reese Witherspoon, \nAshton Kutcher, \nZoe Cha...
3  Halle Bailey, \nJonah Hauer-King, \nMelissa Mc...
4  Alison Brie, \nJay Ellis, \nKiersey Clemons, \...

                                             star_id    votes  gross(in $)
0  /name/nm9898029/,/name/nm8349839/,/name/nm1101...      NaN          NaN
1  /name/nm2591093/,/name/nm0000104/,/name/nm0000...  93203.0  168464485.0
2  /name/nm0000702/,/name/nm0005110/,/name/nm3856...  26216.0          NaN
3  /name/nm1782991/,/name/nm5999355/,/name/nm0565...      NaN          NaN
4  /name/nm1555340/,/name/nm1337350/,/name/nm4169...   4807.0          NaN
Length: 52617

--- romance.csv after filtering ---
     movie_id               movie_name  \
2  tt12823454       Your Place or Mine
4  tt15333984  Somebody I Used to Know
5   tt0120338                  Titanic
7  tt14826022               You People
8  tt14402146          Empire of Light

                                         description            genre  \
2  Two long-distance best friends change each oth...  Comedy, Romance
4  On a trip to her hometown, workaholic Ally rem...  Comedy, Romance
5  A seventeen-year-old aristocrat falls in love ...   Drama, Romance
7  Follows a new couple and their families, who f...  Comedy, Romance
8  A drama about the power of human connection du...   Drama, Romance

  csv_genre
2   romance
4   romance
5   romance
7   romance
8   romance
Length: 46520

In [11]:
all_data = pd.concat(dfs, ignore_index=True)
print("\nCombined dataframe")
print(all_data.head())
print(f"Length: {len(all_data)}")

Combined dataframe
    movie_id                         movie_name  \
0  tt9114286     Black Panther: Wakanda Forever
1  tt1630029           Avatar: The Way of Water
2  tt5884796                              Plane
3  tt6710474  Everything Everywhere All at Once
4  tt5433140                             Fast X

                                         description  \
0  The people of Wakanda fight to protect their h...
1  Jake Sully lives with his newfound family form...
2  A pilot finds himself caught in a war zone aft...
3  A middle-aged Chinese immigrant is swept up in...
4  Dom Toretto and his family are targeted by the...

                        genre csv_genre
0    Action, Adventure, Drama    action
1  Action, Adventure, Fantasy    action
2            Action, Thriller    action
3   Action, Adventure, Comedy    action
4      Action, Crime, Mystery    action
Length: 134567

In [12]:
duplicates = all_data[all_data.duplicated(subset=['movie_id'], keep=False)]

if not duplicates.empty:
    print("\n--- Duplicates found (movies in multiple CSVs) ---")
    print(duplicates.sort_values('movie_id'))
    print(f"Number of duplicate rows: {len(duplicates)}")
else:
    print("\nNo duplicates found.")

--- Duplicates found (movies in multiple CSVs) ---
         movie_id            movie_name  \
127024  tt0003747           Cameo Kirby
29624   tt0003747           Cameo Kirby
112514  tt0004545    Rose of the Rancho
22296   tt0004545    Rose of the Rancho
13094   tt0004635         The Squaw Man
...           ...                   ...
2774    tt9894470                   VFW
79579   tt9899284  Return of the Binman
129808  tt9899284  Return of the Binman
74639   tt9904270         Get Rid of It
30707   tt9904270         Get Rid of It

                                              description  \
127024  "Cameo" Kirby, so called because of his fondne...
29624   "Cameo" Kirby, so called because of his fondne...
112514  Esra Kincaid takes land by force, and having t...
22296   Esra Kincaid takes land by force, and having t...
13094   A chivalrous British officer takes the blame f...
...                                                   ...
2774    A group of old war veterans put their lives on...
79579   Nick Black A Serial Killer From Plymouth Has C...
129808  Nick Black A Serial Killer From Plymouth Has C...
74639   A suitcase full of unknown items leads to the ...
30707   A suitcase full of unknown items leads to the ...

                             genre csv_genre
127024      Action, Drama, Romance   romance
29624       Action, Drama, Romance    action
112514  Action, Adventure, Romance   romance
22296   Action, Adventure, Romance    action
13094       Action, Drama, Romance    action
...                            ...       ...
2774         Action, Crime, Horror    action
79579    Horror, Romance, Thriller    horror
129808   Horror, Romance, Thriller   romance
74639       Action, Comedy, Horror    horror
30707       Action, Comedy, Horror    action

[9827 rows x 5 columns]
Number of duplicate rows: 9827

In [14]:
clean_data = all_data.drop_duplicates(subset=['movie_id'], keep='first').reset_index(drop=True)

print("Length after dropping duplicates:", len(clean_data))
print(clean_data.head())
print("\nGenre distribution:")
print(clean_data['csv_genre'].value_counts())

Length after dropping duplicates: 129643
    movie_id                         movie_name  \
0  tt9114286     Black Panther: Wakanda Forever
1  tt1630029           Avatar: The Way of Water
2  tt5884796                              Plane
3  tt6710474  Everything Everywhere All at Once
4  tt5433140                             Fast X

                                         description  \
0  The people of Wakanda fight to protect their h...
1  Jake Sully lives with his newfound family form...
2  A pilot finds himself caught in a war zone aft...
3  A middle-aged Chinese immigrant is swept up in...
4  Dom Toretto and his family are targeted by the...

                        genre csv_genre
0    Action, Adventure, Drama    action
1  Action, Adventure, Fantasy    action
2            Action, Thriller    action
3   Action, Adventure, Comedy    action
4      Action, Crime, Mystery    action

Genre distribution:
csv_genre
action     52404
romance    43775
horror     33464
Name: count, dtype: int64

## Drop values with descriptions < 100 chars (e.g. "Add a Plot")

In [22]:
# Drop entries with very short or placeholder descriptions
clean_data['description'] = clean_data['description'].astype(str).str.strip()

# Keep only rows where description length >= 20 characters
clean_data = clean_data[clean_data['description'].str.len() >= 100].reset_index(drop=True)

print("Remaining rows:", len(clean_data))

Remaining rows: 85617

In [24]:
clean_data = clean_data[['movie_id', 'movie_name', 'description', 'genre', 'csv_genre']]
clean_data = clean_data.rename(columns={'genre': 'genre_list'})
print(clean_data.head())
print("Length:", len(clean_data))

     movie_id                         movie_name  \
0   tt9114286     Black Panther: Wakanda Forever
1   tt1630029           Avatar: The Way of Water
2   tt5884796                              Plane
3   tt6710474  Everything Everywhere All at Once
4  tt10954600  Ant-Man and the Wasp: Quantumania

                                         description  \
0  The people of Wakanda fight to protect their h...
1  Jake Sully lives with his newfound family form...
2  A pilot finds himself caught in a war zone aft...
3  A middle-aged Chinese immigrant is swept up in...
4  Scott Lang and Hope Van Dyne, along with Hank ...

                   genre_list csv_genre
0    Action, Adventure, Drama    action
1  Action, Adventure, Fantasy    action
2            Action, Thriller    action
3   Action, Adventure, Comedy    action
4   Action, Adventure, Comedy    action
Length: 85617

In [26]:
#Make 70/15/15 train/val/test split

from sklearn.model_selection import train_test_split

train_df, temp_df = train_test_split(
    clean_data,
    test_size=0.3,
    random_state=42,
    stratify=clean_data['csv_genre']
)

val_df, test_df = train_test_split(
    temp_df,
    test_size=0.5,
    random_state=42,
    stratify=temp_df['csv_genre']
)

In [27]:
print("Train size:", len(train_df))
print("Val size:", len(val_df))
print("Test size:", len(test_df))

print("\nTrain genre distribution:")
print(train_df['csv_genre'].value_counts())
print("\nVal genre distribution:")
print(val_df['csv_genre'].value_counts())
print("\nTest genre distribution:")
print(test_df['csv_genre'].value_counts())

Train size: 59931
Val size: 12843
Test size: 12843

Train genre distribution:
csv_genre
action     23070
romance    20403
horror     16458
Name: count, dtype: int64

Val genre distribution:
csv_genre
action     4943
romance    4373
horror     3527
Name: count, dtype: int64

Test genre distribution:
csv_genre
action     4944
romance    4372
horror     3527
Name: count, dtype: int64

In [30]:
# Save to CSVs
out_dir = "data/imdb_arh"
os.makedirs(out_dir, exist_ok=True)

train_df.to_csv(os.path.join(out_dir, "imdb_arh_train.csv"), index=False)
val_df.to_csv(os.path.join(out_dir, "imdb_arh_val.csv"), index=False)
test_df.to_csv(os.path.join(out_dir, "imdb_arh_test.csv"), index=False)

print(f"\nSaved CSVs to {out_dir}/")

Saved CSVs to data/imdb_arh/